body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color:  #555;
    text-align: center;
    margin: 0;
  }
  
  header {
    background: rgb(24, 171, 184);
    color: #fff;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
    color: #fff;
  }
  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
